@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.button {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.06em;
  background-color: transparent;
  padding: 16px 40px;
}
.button_white {
  color: white;
  border: 1px solid white;
}
.button_black {
  color: black;
  border: 1px solid black;
}
.button:hover {
  background-color: #f8f7f7;
  color: #3c3c3c;
  border: 1px solid black;
  transition: all 1s 0s ease;
}

.menu {
  text-align: center;
}
.menu__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__item {
  margin: 0px 2.5%;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}
.menu__item a {
  color: #3c3c3c;
}
.menu__item_active {
  font-weight: 700;
}
.menu__item_active a {
  color: #ada074;
}
.menu__item_active a:hover {
  color: #d5c388;
  transition: all 1s 0 ease;
}
.menu__item:hover {
  font-weight: bold;
  transition: all 1s 0 ease;
}
@media screen and (max-width: 576px) {
  .menu__item {
    flex: 1 1 25%;
    margin: 15px 2%;
  }
}

.icons {
  margin: 0px auto;
}
.icons__row {
  display: flex;
  justify-content: center;
  margin: 0px -20px;
}
@media screen and (max-width: 768px) {
  .icons__row {
    flex-direction: column;
    margin: 0px auto;
  }
}

.infoicon {
  flex: 0 1 300px;
  display: flex;
  padding: 0px 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.infoicon__icon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 1px solid rgb(196, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin-bottom: 40px;
}
.infoicon__icon :first-child {
  position: relative;
  left: -10px;
}
.infoicon__icon :last-child {
  position: relative;
  left: 4px;
}
@media screen and (max-width: 768px) {
  .infoicon__icon {
    margin-bottom: 20px;
  }
}
.infoicon__title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  margin-bottom: 36px;
}
.infoicon__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.example {
  flex: 0 1 50%;
}
@media screen and (max-width: 576px) {
  .example {
    flex: 0 1 100%;
  }
}
.example__image {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .example__image {
    padding: 0px 5%;
  }
}

.input__label {
  font-size: 14px;
  display: inline-block;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}
.input__area {
  padding: 10px;
  width: 100%;
}
.input__area_h {
  height: 35px;
}
.input__area_bt {
  background-color: #f8f7f7;
  border-top: 1px solid black;
}

.footer {
  background-color: #3c3c3c;
  padding: 50px 0px;
}
.footer__content {
  text-align: center;
  font-size: 14px;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__img {
  width: 125px;
}
.footer__menu {
  margin-bottom: 35px;
}
.footer__list {
  display: flex;
  justify-content: center;
}
.footer__list-item {
  margin-right: 20px;
}
.footer__link {
  color: #a4a4a4;
}
.footer__link:hover {
  color: white;
}
.footer__year {
  color: #6c6c6c;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1120px;
  margin: 0px auto;
}

.header {
  background: url(/img/header_background.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header .container {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 15vh auto;
}
@media screen and (max-width: 992px) {
  .header__logo {
    margin: 9vh auto;
  }
}
.header__title {
  letter-spacing: 0.16em;
  color: #ffffff;
  text-align: center;
}
.header__title_l {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .header__title_l {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
.header__title_s {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 10px 0px 4.6vh 0px;
}
@media screen and (max-width: 576px) {
  .header__title_s {
    font-size: 1.2rem;
  }
}
.header__title_s::after {
  content: "";
  background-color: #ffffff;
  width: 9.4%;
  height: 2px;
  display: block;
  margin: 5vh auto 5vh auto;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .header__title_s::after {
    margin-bottom: 5vh;
  }
}
.header__button {
  margin-bottom: 5vh;
}
.header__icon {
  margin-bottom: 8vh;
  cursor: pointer;
}
.header__image {
  width: 17px;
  animation: moving-arrow 1s linear infinite alternate;
}
.header__image:hover {
  animation-play-state: paused;
}

@keyframes moving-arrow {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
.navbar {
  margin: 0px auto 17% auto;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.navbar__menu {
  padding: 24px 0;
}

.about {
  padding: 0px 10px 60px 10px;
}
.about__title::after {
  content: "";
  width: 73%;
  height: 1px;
  display: block;
  margin: 35px auto;
  background-color: black;
}
.about__body {
  margin: 0px auto 70px auto;
}
.about__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__text {
  text-align: center;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  max-width: 700px;
  margin: 0px auto;
}

.portfolio {
  background-color: #f3f3f3;
  text-align: center;
  padding: 107px 0px 80px 0px;
}
.portfolio__title {
  margin-bottom: 5.3%;
}
.portfolio__menu {
  margin-bottom: 8%;
}
.portfolio__body {
  margin-bottom: 48px;
}
.portfolio__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -13px;
}
.portfolio__example {
  margin-bottom: 16px;
  padding: 0px 13px;
}
.portfolio__button a {
  color: #000000;
}
.portfolio__button:hover {
  box-shadow: 7px 7px 0;
  transition: all 1s ease;
}
.portfolio__button:active {
  box-shadow: 3px 3px 0;
  transition: all 0.2s ease;
}

.partners {
  max-height: 390px;
  background-image: url(/img/partner_background.png);
  background-repeat: no-repeat;
  padding: 9.5vh 0px;
  background-position: bottom;
  background-size: cover;
}
.partners__title {
  font-size: 30.4px;
  text-align: center;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 9.2%;
}
.partners__icons {
  text-align: center;
  max-width: 585px;
  margin: 0px auto;
}
.partners__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partners__image-block {
  flex: 0 1 25%;
}
@media screen and (max-width: 576px) {
  .partners__image-block {
    flex: 0 1 50%;
    margin-bottom: 5%;
  }
}
.partners__image_first {
  width: 35px;
  height: 47px;
}
.partners__image_second {
  width: 52px;
  height: 62px;
}
.partners__image_third {
  width: 53px;
  height: 63px;
}
.partners__image_fourth {
  width: 111px;
  height: 40px;
}

.contact {
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 30px;
  }
}
.contact__title {
  margin: 80px auto 160px auto;
  text-align: center;
}
.contact__title::after {
  content: "";
  width: 8%;
  height: 1px;
  display: block;
  margin: 35px auto;
  background-color: black;
}
@media screen and (max-width: 670px) {
  .contact__title {
    margin: 0 auto 60px auto;
  }
}
.contact__row {
  display: flex;
  justify-content: center;
  margin: 0px -35px;
}
@media screen and (max-width: 670px) {
  .contact__row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
.contact__left-side {
  flex: 0 1 380px;
  padding-right: 35px;
}
@media screen and (max-width: 670px) {
  .contact__left-side {
    padding: 0;
    width: 80%;
  }
}
.contact__left-row {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.contact__name-email {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 670px) {
  .contact__name-email {
    display: block;
    margin-bottom: 40px;
  }
}
.contact__name {
  flex: 0 1 160px;
}
@media screen and (max-width: 670px) {
  .contact__name {
    margin-bottom: 30px;
  }
}
.contact__email {
  flex: 0 1 160px;
}
.contact__message {
  flex: 0 1 100%;
  width: 100%;
}
.contact__submit {
  flex: 0 1 44px;
  margin-top: 40px;
  background-color: transparent;
}
.contact__submit input {
  background-color: transparent;
}
.contact__submit :hover {
  color: #868585;
}
.contact__right-side {
  text-align: left;
  padding-left: 35px;
  flex: 0 1 265px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.06em;
  color: #000000;
}
@media screen and (max-width: 670px) {
  .contact__right-side {
    text-align: center;
    max-width: 265px;
    padding: 0;
  }
}
.contact__paragraph {
  font-weight: 300;
  margin-bottom: 25px;
}
.contact__author {
  font-weight: 700;
  margin-bottom: 15px;
}
.contact__image-wrapper {
  display: inline-block;
  border: 2px solid #1e1e1e;
  border-radius: 50%;
  margin-right: 10px;
}
.contact__icons {
  margin-bottom: 10px;
}
.contact__icons_pf {
  padding: 7px 10px;
}
.contact__icons_ps {
  padding: 8.5px;
}
.contact__mail {
  font-weight: 400;
}
.contact__mail a {
  color: black;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */